body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  background: gold;
  border-radius: 16px;
  border: solid goldenrod 8px;
  height: 850px;
  width: 550px;
}

.card-image{

}
.card-image img {
  border: solid goldenrod 5px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.pimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.title-space-img img{
  height: 50px;
  border: solid goldenrod 5px;
  border-radius: 50px;
}
.title-space-text {
  font-size: 40px;
}
.title-space-hp {
  display: inline-flex;
  font-size: 20px;
}
.aone-energy img{
  height: 40px;
}
.atwo-energy img{
  height: 40px;
}
.title-space {
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 20%;
}
.attack-one {
  padding: 20px 0px 0px 0px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 30px;
  border-bottom: solid black 5px;
}
.attack-two {
  padding: 20px 0px 0px 0px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 30px;
  border-bottom: solid black 5px;
}
.electric {
  height: 20px;
}
.fighting {
  height: 40px;
}
.normal {
  height: 40px;
}
.weak-resist-n-retreat {
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.categories {
  justify-content: space-around;
  align-items: center;
  display: flex;
}